/*投票页面css*/
.vote-content{
    padding: 10px 10px 10px 10px;
}
.vote-content .vote-title{
    width: 480px;
    height: 30px;
    font-size: 20px;
    overflow: hidden;
    font-weight: 900;
    color: #e45533;
}
.vote-content .vote-people{
    line-height: 26px;
    padding-right: 20px;
    color: #9e9e9e;
    border-bottom: 1px solid #cbcbcb;
}
.vote-content .vote-desc{
    text-indent: 2em;
    height: 20px;
    overflow: hidden;
}
.vote-content .vote-optopns{
    padding: 10px 40px 10px 40px;
}
.vote-content .vote-optopns ul li{
    width: 160px;
    float: left;
    padding-left: 30px;
}
.vote-content .vote-optopns ul li .vote-optopns-img{
    position: relative;
}
.vote-content .vote-optopns ul li .vote-optopns-img img{
    width: 140px;
    height: 140px;
}
.vote-content .vote-optopns .vote-optopns-options{
    width: 140px;
    /*height: 30px;
    line-height: 30px;*/
    font-size: 14px;
    overflow: hidden;
}
.vote-content .vote-optopns .vote-optopns-options-hover:hover{
    background: #ccc;
    padding-left: 5px;
}
.vote-content .vote-optopns .vote-optopns-options-check{
    width: 20px;
    height: 30px;
    line-height: 30px;
}
.vote-content .vote-btn{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border-radius: 60px;
    height: 40px;
    line-height: 40px;
    background: #faa53a;
    color: #fff;
}
.vote-content .vote-btn a{
    color: #fff;
    font-size: 16px;
}
.vote-content .vote-btn-no{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border-radius: 60px;
    height: 40px;
    line-height: 40px;
    background: #ccc;
    color: #fff;
}
.vote-content .vote-result{
    width: 70%;
    margin: auto;
    height: 40px;
    line-height: 40px;
}
.select-img{
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    background: url('../images/choice.png') no-repeat center center;
}
/*投票结果css*/
.vote-result .options-name{
    height:30px;
    width: 360px;
    overflow: hidden;
}
.vote-result .bar{
    width: 400px;
    height: 30px;
    line-height: 30px;
    background: #e7e7e7;
}
.vote-result .bar .bar-long{
    height: 30px;
}
.bg-color{
    background: #ff930c;
}
.vote-result .bar .vote-count{
    background: #fff;
    width: 40px;
}
html,body{
    height: 100%;
    background: #fff;
}
.vote-content .vote-optopns .vote-optopns-options-hover:hover {
    background: #ccc;
    padding-left: 0px;
}
.message-div {
    color:red;
    margin:10px auto auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dotted green;
}
.exam-pic-select{
    margin-left: 35px;
    max-width: 300px;
    max-height: 300px;
    min-width: 30px;
    min-height: 30px;
}
.exam-pic-title{
    margin-left:17px;
    max-width: 300px;
    max-height: 300px;
    min-width: 30px;
    min-height: 30px;
}
/*回答正确试题*/
.question-right {
    color : green;
}
/*回答错误试题颜色*/
.question-wrong {
    color : red;
}
.exam-right-show{
    color: #07bfbd;
}
.all-exam-answer{
    margin-left: 20px;
}