<extend name="Public/base" />

<block name="body">
    <div class="tw-layout">
        <div class="tw-list-hd">自定义属性列表</div>
        <notempty name="prompt_tips">
            <div class="tw_list_tips">
                <div class="tips-name">提示语：</div>
                <div class="tips-content">{$prompt_tips}</div>
            </div>
        </notempty>
        <div class="tw-list-top">
            <div class="tw-tool-bar">
                <a class="tw-tool-btn-add" href="{:U('edit')}" >
                    <i class="tw-icon-plus-circle"></i> 添加
                </a>
                <a class="tw-tool-btn-del" onclick="javascript:recycle('chkbId', '确认删除?!删除后该自定义属性将被删除!')">
                    <i class="tw-icon-minus-circle"></i> 批量删除
                </a>
            </div>
            <form action="__ACTION__" method="post" id='frmSearch'>
                <div class="tw-search-bar">
                    <div class="search-form fr cf">
                        <div class="sleft">
                            <input type="text" name="keywords" class="search-input" value="{:I('keywords', '')}" placeholder="请输入自定义属性名称">
                            <a type="submit" class="sch-btn" onclick="$('#frmSearch').submit();"><i class="btn-search"></i></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tw-list-wrap">
            <table class="tw-table tw-table-list tw-table-fixed">
                <thead>
                    <tr>
                        <th width="10" class="row-selected">
                             <label for="check-all">全选</label>
                            <input class="checkbox check-all" id="check-all" type="checkbox" style="display: none;">
                        </th>
                        <th width="50">序号</th>
                        <th width="20%">名称</th>
                        <th width="5%">类型</th>
                        <th width="5%">排序</th>
                        <th width="5%">状态</th>
                        <th width="150">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <notempty name="data" >
                        <volist name="data" id="vo" key="k">
                            <tr>
                                <td><input class="ids row-selected" type="checkbox" name="chkbId" value="{$vo.id}"></td>
                                <td>{$k|page_code}</td>
                                <td>{$vo.attr_name} </td>
                                <td>{$vo['attr_type'] | show_attr_status} </td>
                                <td>{$vo.attr_sort} </td>
                                <td>{$vo['attr_status'] | show_status} </td>
                                <td>
                                    <a class="tw-tool-btn-view" href="{:U('CustomAttribute/edit?id='.$vo['id'])}">
                                        <i class="tw-icon-desktop"></i> 修改
                                    </a>
                                    <a class="tw-tool-btn-del" onclick="javascript:recycle({$vo['id']}, '确认删除?! 删除后该自定义属性将被删除!')" >
                                        <i class="tw-icon-minus-circle"></i> 删除
                                    </a>
                                </td>
                            </tr>
                        </volist>
                    <else/>
                        <td colspan="7" class="text-center"> aOh! 暂时还没有内容! </td>
                    </notempty>
                </tbody>
            </table>
            <div class="page">{$page['page']}</div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
    </script>
</block>
