<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title><?php echo C('WEB_SITE_TITLE');?></title>
    <link href="__ROOT__/Public/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="__CSS__/base.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/module.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/default_color.css" media="all">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/toastr/toastr.css" media="all">
    <!--[if lt IE 9]-->
    <script type="text/javascript" src="__JS__/jquery-1.10.2.min.js"></script>
    <!--[endif]-->
    <script type="text/javascript" src="__JS__/jquery-2.0.3.min.js"></script>
    <style type="text/css">
        .header{min-width: 1004px;}
        html { overflow-x: auto; overflow-y: hidden; }

        .logo-img {
            height:50px;
        }
        .header .logo {
            float: left;
            margin-left: 60px;
            width: 140px;
        }
    </style>
    <block name="style"></block>
</head>
<body id="mainbody">
    <!-- 头部 -->
    <div class="header">
        <!-- Logo -->
        <span class="logo"><img src='/Public/logo.png' class="logo-img">
        </span>
        <!-- /Logo -->

        <!-- 主导航 -->
        <ul class="main-nav" id="menu-nav"></ul>
        <!-- /主导航 -->

        <!-- 用户栏 -->
        <div class="user-bar">
            <a href="javascript:;" class="user-entrance"><i class="icon-user"></i></a>
            <ul class="nav-list user-menu hidden">
                <li class="manager">你好，<em title="{:session('user_auth.username')}">{:session('admin_auth.username')}</em></li>
                <li><a href="{:U('Member/adminSetting')}" target="mainIframe">个人信息设置</a></li>
                <li><a href="{:U('Public/logout')}">退出</a></li>
            </ul>
        </div>
    </div>
    <!-- /头部 -->

    <!-- 边栏 -->
    <div class="sidebar" id="sidebar">
        <!-- 子导航 -->
        <div id="subnav" class="subnav"></div>
        <!-- /子导航 -->
    </div>
    <!-- /边栏 -->

    <!-- 内容区 -->
    <div id="main-content">
        <div id="main" class="main">
            <iframe src="{:U('Admin/Index/welcome')}" name="mainIframe" id="mainIframe" style="height:100%; width:100%; border: 0px;" frameborder="0"></iframe>
        </div>
    </div>
    <!-- /内容区 -->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="__JS__/jquery.mousewheel.js"></script>
    <!--<![endif]-->
    <script type="text/javascript" src="__PUBLIC__/toastr/toastr.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/assets/plugins/layer-v2.0/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/plugins/laydate-v1.1/laydate/laydate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/common.js"></script>
    <script type="text/javascript">
    (function(){
        var ThinkPHP = window.Think = {
            "ROOT"   : "__ROOT__", //当前网站地址
            "APP"    : "__APP__", //当前项目地址
            "PUBLIC" : "__PUBLIC__", //项目公共目录地址
            "DEEP"   : "{:C('URL_PATHINFO_DEPR')}", //PATHINFO分割符
            "MODEL"  : ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
            "VAR"    : ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"]
        }
    })();
    </script>
    <script type="text/javascript" src="__JS__/common.js"></script>
    <script type="text/javascript">
        var MENU = {$menus};

        function CreatNav (nav, obj) {
            
            var str = '';
            for (var key in nav) {
                // console.log(key);
                str += '<h3><i class="icon icon-unfold"></i>'+ key +'</h3>';

                var len = nav[key].length;
                str += '<ul class="side-sub-menu">'
                for (var i = 0; i < len; i++) {
                    str += '<li><a href="/index.php/'+ nav[key][i]['url'] +'"  class="item" target="mainIframe"><span class="ico nav-list"></span>'+ nav[key][i]['title'] +'</a></li>';
                };
                str += '</ul>';

            }

            //填充到导航行栏
            $('#subnav').html(str);

            // 主菜单切换样式
            // console.log(nav['child']);
            $('#menu-nav li a').css('background', 'none');
            $(obj).css('background', 'rgba(48, 165, 255, 0.8)');
            // 子菜单切换样式
            $('#subnav li').click(function(){
                $('#subnav li').css('background', '');
                $(this).css('background', 'rgba(48, 165, 255, 0.8)');
            })
            //默认展示第一个二级菜单
            $("#sidebar .subnav h3").removeClass("curh");
            $("#sidebar .subnav").children("h3").first().addClass("curh");

            $("#sidebar .subnav").children("ul").first().addClass("cur");
            $("#sidebar .subnav").children("ul").not(".cur").slideUp("fast");
            slideUpOrDownMenu();
        }

        function CreatMenu () {
            var len = MENU.length;
            for (var i = 0; i < len; i++) {
                //alert(MENU[i][0]);
                //填充到菜单栏 
                $('#menu-nav').append('<li><a href="javascript:void(0)" onclick="javascript:CreatNav(MENU['+ i +'][\'child\'], this)">' + MENU[i]['title'] + '</a></li>');
            };

            //默认点击
            $('#menu-nav li:first-child a').click();
        }

        function ResizeWindow(){
            h = $(window).height();
            w = $(window).width();

            topHeight = $('.header').outerHeight(true);
            
            $('#sidebar, #main, #mainIframe').height(h - topHeight);
            $('#main, #mainIframe').width(w - $('#sidebar').outerWidth(true) );
        }

        $(function(){
            //生成菜单和左侧导航
            CreatMenu();

            //定位
            ResizeWindow();
            $(window).resize(function(){
                ResizeWindow();
            })
            //默认展示第一个二级菜单
            $("#sidebar .subnav h3").removeClass("curh");
            $("#sidebar .subnav").children("h3").first().addClass("curh");

            $("#sidebar .subnav").children("ul").first().addClass("cur");
            $("#sidebar .subnav").children("ul").not(".cur").slideUp("fast");
            slideUpOrDownMenu();
        })

        function slideUpOrDownMenu(){
            //点击菜单组
            $("#sidebar .subnav h3").click(function(){
                $("#sidebar .subnav h3").removeClass("curh");
                $(this).addClass("curh");
                $("#sidebar .subnav ul").removeClass("cur");
                $(this).next().addClass("cur");
                $(this).next().slideDown("fast");
                $(this).siblings('ul').not(".cur").slideUp("fast");
            })
        }

		/* 头部管理员菜单 */
        $(".user-bar").mouseenter(function(){
            var userMenu = $(this).children(".user-menu ");
            userMenu.removeClass("hidden");
            clearTimeout(userMenu.data("timeout"));
        }).mouseleave(function(){
            var userMenu = $(this).children(".user-menu");
            userMenu.data("timeout") && clearTimeout(userMenu.data("timeout"));
            userMenu.data("timeout", setTimeout(function(){userMenu.addClass("hidden")}, 100));
        });
    </script>
    <block name="script"></block>
</body>
</html>
