<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__MAIN__/main/main.css" media="all"> 
</block>

<block name="body">
<div class="list-div">
    <div class="important">
        <ul class="import">
            <li class="import_1">
                <div class="module">
                    <i></i>
                    <div class="detail">
                        <strong>{$visit_count}</strong>
                        <span>今日待拜访数</span>
                    </div>
                </div>
            </li>
            <li class="import_2">
                <div class="module">
                    <i></i>
                    <div class="detail">
                        <strong>{$verify_count}</strong>
                        <span>待审核数</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div style="height:0px;line-height:0px;clear:both"></div>
</block>
<block name="script">
    <script type="text/javascript">
  
    </script>
</block>