<extend name="Public/base"/>
<block name="body">

	<div class="tw-layout">
		<div class="tw-list-hd">
			{:isset($info['id'])?'编辑':'新增'}商品分类
		</div>
		<div class="tw-list-wrap tw-edit-wrap">
		    <form action="__SELF__" enctype="application/x-www-form-urlencoded" method="POST" class="form-horizontal ajaxForm">
		        <div class="form-item">
		            <label for="auth-title" class="item-label">分类名称<span class="check-tips"><b>*</b>（请输入分类名称）</span></label>
		            <div class="controls">
		                <input type="text" name="name" class="text input-large" placeholder="请输入商品分类名称" value="{$info.name}"/>
		            </div>
		        </div>
		        <div class="form-item">
			        <label class="item-label">上级分类<span class="check-tips"><b>*</b>（请选择上级分类）</span></label>
			        <div class="controls">
			             <select name="parent_id" id="parent_id">
			             	 <option value="">顶级分类</option>
			                 <volist name="goodsCategory" id="gcate">

			                     <option value="{$gcate.id}" <if condition="$gcate[id] eq $info[parent_id]">selected</if>>{$gcate.title_show}</option>
			                 </volist>
			             </select>
			        </div>
			    </div>
			    <div class="form-item">
		            <label for="auth-title" class="item-label">分类排序<span class="check-tips"><b>*</b>（请输入分类排序）</span></label>
		            <div class="controls">
		                <input type="text" name="sort" class="text input-large" value="{$info[sort]?$info[sort]:'50'}"/>
		            </div>
		        </div>
		        <!-- <div class="form-item">
		            <label for="auth-title" class="item-label">分类图标<span class="check-tips">（二级分类请上传图标）</span></label>
		            <div class="controls">
                        <img src="{$info.pic_path}" style="height:129px; width:129px;" id="img_"/>
                        <input type="hidden" value="{$info.pic_path}" name="pic_path" id="img" />
                        <input class="btn btn-default btn-xs" type="button" value="上传图标" id="btnUpload"/>
                        <input class="btn btn-danger btn-xs" type="button" value="删除" onclick="delFile($('#img').val(), '')" id="btn_delete_" />
                        <if condition="$info.pic_path eq ''">
                            <script>
                                $("#img_, #btn_delete_").hide();
                            </script>
                        </if>
		            </div>
		        </div> -->
		        <!-- <div class="form-item">
		            <label for="auth-title" class="item-label">滑过分类图标<span class="check-tips">（二级分类请上传滑过图标）</span></label>
		            <div class="controls">
                        <img src="{$info.pic_hover_path}" style="height:129px; width:129px;" id="img_1"/>
                        <input type="hidden" value="{$info.pic_hover_path}" name="pic_hover_path" id="img1" />
                        <input class="btn btn-default btn-xs" type="button" value="上传图标" id="btnUpload1"/>
                        <input class="btn btn-danger btn-xs" type="button" value="删除" onclick="delFile($('#img1').val(), '1')" id="btn_delete_1" />
                        <if condition="$info.pic_hover_path eq ''">
                            <script>
                                $("#img_1, #btn_delete_1").hide();
                            </script>
                        </if>
		            </div>
		        </div> -->
		        <div class="form-item">
		            <label for="auth-description" class="item-label">分类备注</label>
	                <textarea type="text" rows="5" cols="57" id="auth-description" name="remark" placeholder="情输入分类备注描述">{$info.remark}</textarea>
		        </div>
		        <div class="tw-tool-bar-bot">
		           <input type="hidden" name="id" value="{$info.id}" />
		           <button type="submit" class="tw-act-btn-confirm">提交</button>
		           <button type="button" onclick="goback()" class="tw-act-btn-cancel">返回</button>
		       </div>
		    </form>
	    </div>
</div>
</block>
<block name="script">
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload.js"></script>
    <script type="text/javascript" charset="utf-8" src="__COMMON__/js/imgupload.js"></script>
    <script>
        $(function(){
            ajaxUpload('#btnUpload', $("#img"), 'Category', '');
            ajaxUpload('#btnUpload1', $("#img1"), 'Category', '1');
        });
    </script>
</block>
