<extend name="Public/base"/>
<block name="body">
    <div class="tw-layout">
    	<div class="tw-list-hd">{:isset($info['id'])?'编辑':'新增'}联盟商家信息</div>
	    <div class="tw-list-wrap tw-edit-wrap">
            <form action="__SELF__" method="post" class="form-horizontal ajaxForm">
                <div class="form-item">
                    <label class="item-label">联盟商家名称<span class="check-tips"><b>*</b>（输入联盟商家名称）</span></label>
                    <div class="controls">
                        <input type="text" class="text input-large"  name="name" value="{$info.name}">
                    </div>
                </div>
                <div class="form-item">
                    <label class="item-label">联盟商家电话<span class="check-tips"><b>*</b>（输入联盟商家电话）</span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="phone" value="{$info.phone}">
                    </div>
                </div>
                <div class="form-item">
                    <label class="item-label">联盟商家地址<span class="check-tips"><b>*</b>（输入联盟商家地址）</span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="address" value="{$info.address}">
                    </div>
                </div>

                <div class="form-item">
                    <label class="item-label">上传商家图片<span class="check-tips">（用于上传商家图片 请上传大于400*400的正方形图片）</span></label>
                    <div class="controls">
                        <div>
                            <img src="{$info.photo_path}" style="height:129px; width:129px;" id="img_"/>
                        </div>
                        <input type="hidden" value="{$info.photo_path}" name="photo_path" id="img" />
                            <input class="btn btn-default btn-xs" type="button" value="上传" id="btnUpload"/>
                            <input class="btn btn-danger btn-xs" type="button" value="删除" onclick="delFile($('#img').val(), '')" id="btn_delete_" />
                            <if condition="$info.photo_path eq ''">
                                <script>
                                    $("#img_, #btn_delete_").hide();
                                </script>
                            </if>
                    </div>
                </div>
                
                <div class="form-item">
                    <label class="item-label">推荐理由<span class="check-tips"><b>*</b>（输入推荐理由）</span></label>
                    <div class="controls">
                        <textarea name="recommend" rows="5" cols="57">{$info.recommend}</textarea><br/>
                    </div>
                </div>

                <div class="form-item">
                    <label class="item-label">其他备注<span class="check-tips"><b>*</b>（输入其他备注）</span></label>
                    <div class="controls">
                        <textarea name="others" rows="5" cols="57">{$info.others}</textarea><br/>
                    </div>
                </div>                

                <div class="tw-tool-bar-bot">
                    <button type="submit" class="tw-act-btn-confirm">保存</button>
                    <button type="button" class="tw-act-btn-cancel">关闭</button>
                </div>
                <input type="hidden" name="id" value="{$mapMainId}" class="allianceMerchantDetailId"/>
                <input type="hidden" name="position_x" value="{$curXpage}"/>
                <input type="hidden" name="position_y" value="{$curYpage}"/>
                <input type="hidden" name="map_id" value="{$allianceMerchantMapId}"/>
            </form>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload.js"></script>
    <script type="text/javascript" charset="utf-8" src="__COMMON__/js/imgupload.js"></script>
    <script>
        // 关闭按钮点击后触发的事件
        $(".tw-act-btn-cancel").click(function(){
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);
        })

        // 执行ajax的回调函数
        function callback(data){
            if (data.info != '' && typeof(data.info) != 'undefined')  toastr.success(data.info); 
            parent.$(".box[rel={$mapId}]").attr('dataid', data.data);
            $(".allianceMerchantDetailId").val(data.data);
        }
        
        $(function(){
            ajaxUpload('#btnUpload', $("#img"), 'Article', '');
        })
    </script>
</block>