<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/map/context.standalone.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/map/map.css" media="all">
</block>

<block name="body">
    <div class="tw-layout">
    	<div class="tw-list-hd">{:isset($info['id'])?'编辑':'新增'}商家导航图</div>
        <div class="tw-list-wrap tw-edit-wrap">
            <form action="__SELF__" method="post" class="form-horizontal ajaxForm">
                <div class="form-item">
                    <label class="item-label">地图标题名称<span class="check-tips"><b>*</b>（输入地图标题）</span></label>
                    <div class="controls"> <input type="text" class="text input-large" name="name" value="{$info.name}"></div>
                </div>
                <div class="form-item">
                    <label class="item-label">排序</label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="sort" value="{$info.sort}">
                    </div>
                </div>
                
                <div class="form-item">
                    <label class="item-label">上传地图图片<span class="check-tips"><b>*</b>（请上传地图图片）</span></label>
                    <div class="controls">
                        <div id="toolbar">
                            <input type="hidden" value="{$info.photo_path}" name="photo_path" id="img" />
                            <input class="btn btn-default btn-xs" type="button" value="上传" id="btnUpload"/>
                            <input class="btn btn-danger btn-xs" type="button" value="删除" onclick="delMapFile($('#img').val(), '', '', {$info['id']})" id="btn_delete_" />
                            <input type="button" value="添加区域" class="btn" id="btn_add" />
                            <input type="button" value="锁定区域" class="btn" id="btn_lock" />
                            <!--<input type="button" value="获取数据" class="btn" id="btn_save" />-->
                        </div>
                        <div id="canvas"> 
                            <img id="img_" src="{$info.photo_path}" />
                        </div>
                        <if condition="$info.photo_path eq ''">
                            <script>
                                $("#img_, #btn_delete_, #canvas, #btn_add, #btn_lock, #btn_save").hide();
                            </script>
                        </if>
                    </div>
                </div>
                <div class="tw-tool-bar-bot">
                    <button type="submit" class="tw-act-btn-confirm">提交</button>
                    <button type="button" onclick="goback()" class="tw-act-btn-cancel">返回</button>
                </div>
                <input type="hidden" name="id" value="{$info.id|default=''}"/>
            </form>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload.js"></script>
    <script type="text/javascript" charset="utf-8" src="__COMMON__/js/imgupload.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/map/context.js"></script>    
    <script type="text/javascript" charset="utf-8" src="__JS__/map/drag.js"></script>    
    <script type="text/javascript" charset="utf-8" src="__JS__/map/spryMap.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/map/mapImgUpload.js"></script>        
<script>        
    $(function(){
        // 图片上传
        ajaxMapUpload('#btnUpload', $("#img"), 'Temp', '', true, 'Upgrade', {$info['id']});

        // 图片拖拽引用
        new SpryMap({
            id : "canvas",
            height: 500,
            width: 800,
            startX: 100,
            startY: 100,
            cssClass: "mappy"
        });
        
	//初始化计数器
	num = 0;
        
	//区块锁定标识
	lock = false;
        
        // 获取地图id
        allianceMerchantMapId = {$info['id']};
        
	// 加载原有信息
	loadData = {$allianceMerchantDetailData};
    });
    </script>
    <script type="text/javascript" charset="utf-8" src="__JS__/map/mapConfig.js"></script>        
</block>
