


.tw-news-detail{
	.tw-news-hd{
		margin: 10px 0;
		font-size: 24px;
		text-align: center;
	}
	.tw-news-attr{
		margin: 10px 0;
		font-size: 12px;
		text-align: center;
	}
	.tw-news-bd{
		padding: 20px;
		p{
			line-height: 2;
		margin-bottom: 20px;
		}
		
	}
	.tw-news-ft{
		margin: 10px;
		text-align: center;
		p{
			text-align: right;
		}
	}
}