<extend name="Public/base"/>

<block name="body">
    <!-- S=头部设置 -->
    <div class="tw-layout">        
        <!-- S=文章管理 -->
        <div class="tw-list-hd"><if condition="$type eq 0">APP启动页<elseif condition="$type eq 1" />APP轮播图<elseif condition="$type eq 2" />APP登录背景图</if>管理</div>
        <notempty name="prompt_tips">
            <div class="tw_list_tips">
                <div class="tips-name">提示语：</div>
                <div class="tips-content">{$prompt_tips}</div>
            </div>
        </notempty>
        <!-- E=文章管理 -->
        <!-- S=导航设置 -->
        <div class="tw-list-top">
            <!-- S=添加删除 -->
            <div class="tw-tool-bar">
                <a class="tw-tool-btn-add" href="{:U('edit', array('type' => $type))}">
                    <i class="tw-icon-plus-circle"></i> 添加
                </a>
                <a class="tw-tool-btn-del" onclick="javascript:recycle('chkbId', '确认删除?! 删除后此内容将不在此地显示!')">
                    <i class="tw-icon-minus-circle"></i> 批量删除
                </a>
                <a class="tw-tool-btn-setting" href="{:U('sort', array('type' => $type),'')}" >
                    <i class="tw-icon-cogs"></i> 排序
                </a>
            </div>
            <!-- E=添加删除 -->
        </div>
        <!-- E=导航设置 -->
    </div>
    <!-- E=头部设置 -->
    <!-- S=详情显示 -->	
    <div class="tw-list-wrap">
        <!-- S=表单 -->
        <form class="ids">
            <table class="tw-table tw-table-list tw-table-fixed">
                <thead>
                    <tr>
                        <th class="row-selected">
                            <input class="checkbox check-all" type="checkbox">
                        </th>
                        <th width="30%">标题</th>
                        <th class="show-time">操作时间</th>
                        <th width="100">操作人</th>
                        <th width="20">排序</th>
                        <th width="200">操作</th>
                    </tr>
                </thead>
                <!-- S=详细信息 -->	
                <tbody>
                    <notempty name="list">
                      
                        <volist name="list" id="vo">
                            <tr <if condition="($type eq 0) OR ($type eq 2)"><if condition="$vo.is_default eq 0">style="color:red"</if></if>></tr>
                                <td><input class="ids row-selected" type="checkbox" name="chkbId" value="{$vo.id}"></td>
                                <td class="text-left">{$vo.title}</td>
                                <td>{$vo.add_time|time_format}</td>
                                <td>{$vo.user_name}</td>
                                <td>{$vo.sort}</td>
                                <td>
                                    <if condition="$type eq 0">
                                        <if condition="$vo.is_default eq 1">
                                            <a class="tw-tool-btn-view" onclick="ajaxChangeDefault({$vo.id}, {$type})" href="javascript:;"><i class="tw-icon-desktop"></i> 设置成默认启动页 </a>
                                        </if>
                                    </if>
                                    <if condition="$type eq 2">
                                        <if condition="$vo.is_default eq 1">
                                            <a class="tw-tool-btn-view" onclick="ajaxChangeDefault({$vo.id}, {$type})" href="javascript:;"><i class="tw-icon-desktop"></i> 设置成默认登录背景图 </a>
                                        </if>
                                    </if>
                                    <a class="tw-tool-btn-edit" href="{:U('edit', array('id'=>$vo['id'],'type'=>$type))}"><i class="tw-icon-pencil"></i> 修改 </a>
                                    <a class="tw-tool-btn-del" onclick="javascript:recycle({$vo['id']}, '确认删除?! 删除后此内容将不在此地显示!')"><i class="tw-icon-minus-circle"></i> 删除</a>
                                </td>                                
                            </tr>
                        </volist>
                        <else/>
                            <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
                    </notempty>
                </tbody>
                <!-- E=详细信息 -->
            </table>
        </form>
        <!-- E=表单 -->
        <!-- <div class="page">{$page}</div> -->
        </div>
    </div>
    <!-- E=详情显示 -->	
</block>

<block name="script">
    <script type="text/javascript">
        // 设置为默认启动页
        function ajaxChangeDefault(id, type){
            url = "<?php echo U('Admin/Banner/ajaxChangeIsDefault', '', ''); ?>?id="+ id +"&type="+ type
            $.get(url, function(data){
                if(data.status = 1){
                    window.location.reload(); //刷新当前页面
                } 
            });
        }
    </script>
</block>