<extend name="Public/base"/>
<block name="style">
    <style>
        .cate-div{
        	margin:10px 0;
        }
        .wf-form-table {
            margin-top:20px;
        }
        .at1{
        	width:60%;
        }
        .at3, .at4, .at6{
        	width:15%;
        }
        .color-text{
        	width:180px;
        }
        .ml10{
        	margin-left:10px;
        }
        .green-btn, .green-btn:hover{
            background-color: #319936
        }
        .color-img-p{
            width:202px;
            text-align: center;
            margin-top:3px;
        }
    </style>
</block>
<block name="body">
	<div class="tw-layout">
		<div class="tw-list-hd">
			{:isset($info['id'])?'编辑':'新增'}商品信息
		</div>
		
    	<div class="tw-list-wrap tw-edit-wrap">
    	    <form action="__SELF__" method="POST" class="form-horizontal ajaxForm">
    	    	<div class="cate-div">
                    <span>商品分类：</span>
                    <span>
                        <select name="goods_category_id" id="goods_category_id">
    		                <volist name="goods_cate_list" id="gcate">
    		                    <option value="{$gcate.id}" <if condition="$gcate[id] eq $info[goods_category_id]">selected</if>>{$gcate.title_show}</option>
    		                </volist>
    		            </select>
                    </span>
    	    	</div>
    	    	<table class="wf-form-table" id="goods-info-table">
                    <colgroup>
                        <col width="10%">
                        <col width="90%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th colspan="2" class="information"><div class="fl offset">基本信息</div></th>
                        </tr>
                        <volist name="attr_list" id="list">
                            <if condition="$list.attr_type eq 0 || $list.attr_type eq 1">
                                <tr>
                                    <th><em>*</em> {$list.attr_name}:</th>
                                    <td>
                                        <input type="text" name="goods_attr_value[{$list.id}]" class="text input-large at{$list.id}" placeholder="请输入{$list.attr_name}" value="{$attr_value[$list[id]][attr_value]}"/>
                                        <in name="list[id]" value="3,4">元</in>
                                    </td>
                                </tr>
                            <elseif condition="$list.attr_type eq 2" />
                                <tr>
                                    <th><em>*</em> {$list.attr_name}:</th>
                                    <td>
                                        <volist name="list[attr_value]" id="v">
                                            <label class="radio"><input type="radio" name="goods_attr_value[{$list.id}][]" value="{$v}" <in name="v" value="$attr_value[$list[id]][attr_value]">checked</in> />{$v}</label>
                                        </volist>
                                    </td>
                                </tr>
                            <else />
                                <tr>
                                    <th><em>*</em> {$list.attr_name}:</th>
                                    <td>
                                        <volist name="list[attr_value]" id="v">
                                            <label class="checkbox"><input type="checkbox" name="goods_attr_value[{$list.id}][]" value="{$v}" <in name="v" value="$attr_value[$list[id]][attr_value]">checked</in> />{$v}</label>
                                        </volist>
                                    </td>
                                </tr>
                            </if>
                        </volist>
                        <tr>
                            <th><em>*</em> 商品主图:</th>
                            <td>
                                <if condition="$info.goods_img neq null">
                                    <img src="{$info.goods_img}" style="height:113px; width:202px;" id="img_"/>
                                    <input type="hidden" value="{$info.goods_img}" name="goods_img" id="img" />
                                    <input class="btn btn-default btn-xs" type="button" value="上传图片" id="btnUpload" style="display:none"/>
                                    <input class="btn btn-danger btn-xs" type="button" value="删除" onclick="delFile($('#img').val(), '')" id="btn_delete_"/>
                                <else/>
                                    <img src="" style="height:113px; width:202px; display:none" id="img_"/>
                                    <input type="hidden" value="" name="goods_img" id="img" />
                                    <input class="btn btn-default btn-xs" type="button" value="上传图片" id="btnUpload"/>
                                    <input class="btn btn-danger btn-xs" type="button" value="删除" onclick="delFile($('#img').val(), '')" id="btn_delete_" style="display:none"/>
                                </if>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" class="information">
                            	<div class="fl offset">商品颜色</div>
                            	<div class="fl ml10">
                            		<a class="tw-tool-btn-add" onclick="addColor()"><i class="tw-icon-plus-circle"></i> 添加颜色 </a>
                            	</div>
                            </th>
                        </tr>
                        <notempty name="color_list">
                            <volist name="color_list" id="color_list" key="k">
                                <tr>
                                    <th valign="top"><em></em> 颜色:</th>
                                    <td>
                                        <div class="fl">
                                            <div class="">
                                                <input type="text" name="color_name[{$k}]" class="text input-large color-text" placeholder="输入商品颜色" value="{$color_list.name}"/>
                                            </div>
                                            <div style="margin-top:5px;">
                                                <div class="fl" style="margin-right:15px">
                                                    <input type="hidden" value="{$color_list['default_pic']}" name="color_pic[{$color_list['num']}][1]" id="img{$color_list['num']}_1" />
                                                    <img src="{$color_list['default_pic']}" style="height:113px; width:202px;" id="img_{$color_list['num']}_1"/>
                                                    <p class="color-img-p"><input class="btn btn-default btn-xs green-btn" type="button" value="上传图片" id="btnUpload{$color_list['num']}_1"  style="display:none"/></p>
                                                    <p class="color-img-p"><input class="btn btn-danger btn-xs green-btn del-img-btn" type="button" value="删除" id="btn_delete_{$color_list['num']}_1" del-img-id='{$color_list['num']}_1'/></p>
                                                </div>
                                                <for start = "2" end = "5">
                                                    <if condition="$color_list['list'][$i-2] neq null">
                                                        <div class="fl" style="margin-right:15px">
                                                            <input type="hidden" value="{$color_list['list'][$i-2][photo_path]}" name="color_pic[{$color_list['num']}][{$i}]" id="img{$color_list['num']}_{$i}" />
                                                            <img src="{$color_list['list'][$i-2][photo_path]}" style="height:113px; width:202px;" id="img_{$color_list['num']}_{$i}"/>
                                                            <p class="color-img-p"><input class="btn btn-default btn-xs green-btn" type="button" value="上传图片" id="btnUpload{$color_list['num']}_{$i}"  style="display:none"/></p>
                                                            <p class="color-img-p"><input class="btn btn-danger btn-xs green-btn del-img-btn" type="button" value="删除" id="btn_delete_{$color_list['num']}_{$i}" del-img-id='{$color_list['num']}_{$i}'/></p>
                                                        </div>
                                                    <else />
                                                        <div class="fl" style="margin-right:15px">
                                                            <input type="hidden" value="" name="color_pic[{$color_list['num']}][{$i}]" id="img{$color_list['num']}_{$i}" />
                                                            <img src="__PUBLIC__/image/color-img-{$i}.jpg" style="height:113px; width:202px;" id="img_{$color_list['num']}_{$i}"/>
                                                            <p class="color-img-p"><input class="btn btn-default btn-xs green-btn" type="button" value="上传图片" id="btnUpload{$color_list['num']}_{$i}"/></p>
                                                            <p class="color-img-p"><input class="btn btn-danger btn-xs green-btn del-img-btn" type="button" value="删除" id="btn_delete_{$color_list['num']}_{$i}" del-img-id='{$color_list['num']}_{$i}' style="display:none"/></p>
                                                        </div>
                                                    </if>
                                                </for>
                                            </div>   
                                        </div>
                                    </td>
                                </tr>
                            </volist>
                        </notempty>
                    </tbody>
                </table>
                <table class="wf-form-table custom-html">
                    <notempty name="cate_attr_list">
                    <colgroup>
                        <col width="10%">
                        <col width="90%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th colspan="2" class="information"><div class="fl offset">扩展属性</div></th>
                    </tr>
                    <volist name="cate_attr_list" id="list" key="k">
                        <if condition="$list.attr_type eq 0 || $list.attr_type eq 1">
                            <tr>
                                <th><em></em> {$list.attr_name}:</th>
                                <td>
                                    <input type="text" name="goods_attr_value[{$list.id}]" class="text input-large at{$list.id}" placeholder="请输入{$list.attr_name}" value="{$attr_value[$list[id]][attr_value]}"/>
                                </td>
                            </tr>
                        <elseif condition="$list.attr_type eq 2" />
                            <tr>
                                <th><em></em> {$list.attr_name}:</th>
                                <td>
                                    <volist name="list[attr_value]" id="v">
                                        <label class="radio"><input type="radio" name="goods_attr_value[{$list.id}][]" value="{$v}" <in name="v" value="$attr_value[$list[id]][attr_value]">checked</in> />{$v}</label>
                                    </volist>
                                </td>
                            </tr>
                        <else />
                            <tr>
                                <th><em></em> {$list.attr_name}:</th>
                                <td>
                                    <volist name="list[attr_value]" id="v">
                                        <label class="checkbox"><input type="checkbox" name="goods_attr_value[{$list.id}][]" value="{$v}" <in name="v" value="$attr_value[$list[id]][attr_value]">checked</in> />{$v}</label>
                                    </volist>
                                </td>
                            </tr>
                        </if>
                    </volist>
                    </tbody>
                    </notempty>
                </table>
                <table class="wf-form-table" id="goods-info-table">
                    <colgroup>
                        <col width="10%">
                        <col width="90%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th colspan="2" class="information"><div class="fl offset">文本描述</div></th>
                        </tr>
                        <tr>
                            <td coslpan="2">
                                <textarea type="text" rows="5" cols="90" id="goods-remark" name="goods_remark" placeholder="请输入文本描述">{$info.goods_remark}</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
    	        <div class="tw-tool-bar-bot">
    	           <input type="hidden" name="id" value="{$info.id}" />
    	           <button type="submit" class="tw-act-btn-confirm">提交</button>
    	           <button type="button" onclick="goback()" class="tw-act-btn-cancel">返回</button>
    	       </div>
    	    </form>
        </div>
    </div>
</block>
<block name="script">
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/goodsImgUpload.js"></script>
	<script type="text/javascript" charset="utf-8">
	    $(function(){
            //商品主图上传控件
            ajaxUpload('#btnUpload', $("#img"), 'Temp', '', true, 'Goods');
	    });

	    $(function(){
	    	//$('.tw-act-btn-confirm').attr('disabled', true);
	    	$('#goods_category_id').change(function(){
	    		var chkId = $(this).val();
	    		$.post(
					"{:U('getCustomAttr')}",
					{
					'id' :  chkId
					},
					function(result){
						if (result.status == '1') {
			                $('.custom-html').html(result.data);
			            } else {
			                toastr.error(result.info);
			                $('.custom-html').html(null);
			            }
					},
					'json'
				);
	    	});

            //颜色图片删除
            $('body').on('click', '.del-img-btn', function(){
                var imgId = $(this).attr('del-img-id');
                delFile($('#img'+imgId).val(), imgId);
            })
	    });
        
        var m = parseInt('{$color_num}') + 1;
        $(function(){
            //商品颜色上传控件
            for (var p=1; p<m; p++) {
                for(var n = 1; n <= 4; n++){
                    ajaxUpload('#btnUpload'+p+'_'+n+'', $('#img'+p+'_'+n+''), 'Temp', ''+p+'_'+n+'', true, 'Goods');
                }
            }
        });
        function addColor(){
            var newRow = "<tr>"
                       + "<th valign='top'><em></em> 颜色:</th>"
                       + "<td>"
                       + "<div class='fl'>"
                       + "<div><input type='text' name='color_name["+ m +"]' class='text input-large color-text' placeholder='输入商品颜色' value=''/> <input class='btn btn-default btn-xs' type='button' value='删除颜色' onclick='delLineFile(this, "+ m +")'/></div>"
                       + "<div style='margin-top:5px;'>";
            for(var i = 1; i <= 4; i++){
                newRow += "<div class='fl' style='margin-right:15px'>"
                       + "<input type='hidden' value='' name='color_pic["+ m +"]["+ i +"]' id='img"+ m +"_"+ i +"' />"
                       + "<img src='__PUBLIC__/image/color-img-"+ i +".jpg' style='height:113px; width:202px;' id='img_"+ m +"_"+ i +"'/>"
                       + "<p class='color-img-p'><input class='btn btn-default btn-xs green-btn' type='button' value='上传图片' id='btnUpload"+ m +"_"+ i +"'/></p>"
                       + "<p class='color-img-p'><input class='btn btn-danger btn-xs green-btn del-img-btn' type='button' value='删除' id='btn_delete_"+ m +"_"+ i +"' del-img-id='"+ m +"_"+ i +"' style='display:none'/></p>"
                       + "</div>"
            }
            newRow += "</div></div></td></tr>";
            $("#goods-info-table tr:last").after(newRow);
            for(var n = 1; n <= 4; n++){
                ajaxUpload('#btnUpload'+m+'_'+n+'', $('#img'+m+'_'+n+''), 'Temp', ''+m+'_'+n+'', true, 'Goods');
            }
            m++;
        }
	</script>
</block>