<extend name="Public/base"/>
<block name="style">
    <style>
        .td-line{
            border-bottom:#EAEAEA 1px dashed;               
        }
        .btn-danger , .ml10{
            margin-left:10px;
        }
    </style>
</block>
<block name="body">
	<div class="tw-layout">
		<div class="tw-list-hd">
			商品VR模型
		</div>
    	<div class="tw-list-wrap tw-edit-wrap">
    	    <form action="__SELF__" method="POST" class="form-horizontal ajaxForm">
    	    	<div style="margin:10px 0 20px;">
                    <span class="fl">商品模型：</span>
                    <span>
                        <span id="img_"/></span>
                        <input type="hidden" name="model_path" id="img" />
                        <input class="btn btn-default btn-xs" type="button" value="资源选择" id="btnUpload"/>
                        <input class="btn btn-danger btn-xs" type="button" value="删除" onclick="delFile($('#img').val(), '')" id="btn_delete_" style="display:none"/>
                    </span>

    	    	</div>
                <!--杨yongjie  添加-->
                <div style="margin:10px 0 20px;">
                    <span class="fl">模型原文件名：</span>
                    <input type='text' name='name' class='text input-large' placeholder='输入上传的模型原文件名'/>
                </div>
                <!--杨yongjie  添加-->
                <div style="margin:10px 0 20px;">
                    <span class="fl">商品缩略图：</span>
                    <span>
                        <span id="img_1"/></span>
                        <input type="hidden" name="ico" id="img1" />
                        <input class="btn btn-default btn-xs" type="button" value="资源选择" id="btnUpload1"/>
                        <input class="btn btn-danger btn-xs" type="button" value="删除" onclick="delFile($('#img1').val(), '')" id="btn_delete_1" style="display:none"/>
                    </span>
                </div>
                <div style="margin:10px 0 20px;">
                    <span class="fl">材质Tiling值：</span>
                    <span>
                        <input type='text' name='material_tiling' class='text input-5x' placeholder='输入材质Tiling值'/>
                    </span>
                </div>
                <div style="margin:10px 0 20px;">
                    <span class="fl">商品描述：</span>
                    <span>
                        <input type='text' name='description' class='text input-5x' placeholder='输入商品描述'/>
                    </span>
                </div>
    	    	<table class="wf-form-table" id="goods-unit-table">
                    <colgroup>
                        <col width="10%">
                        <col width="30%">
                        <col width="10%">
                        <col width="50%">
                    </colgroup>
                    <tbody>
                        <!--<tr>-->
                            <!--<th colspan="4" class="information">-->
                                <!--<div class="fl offset">户型</div>-->
                                <!--<div class="fl ml10">-->
                                    <!--<a class="tw-tool-btn-add" onclick="addUnit()"><i class="tw-icon-plus-circle"></i> 添加户型 </a>-->
                                <!--</div>-->
                            <!--</th>-->
                        <!--</tr>-->
                    </tbody>
                </table>
                <table class="wf-form-table" id="goods-unit-attr-table" style="margin-top:20px">
                    <colgroup>
                        <col width="10%">
                        <col width="90%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th colspan="2" class="information">
                                <div class="fl offset">商品模型类型</div>
                                <div class="fl ml10">
                                    <a class="tw-tool-btn-add" onclick="addUnitAttr()"><i class="tw-icon-plus-circle"></i> 添加商品模型类型 </a>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>

    	        <div class="tw-tool-bar-bot">
                   <input type="hidden" name="goods_id" value="{$goods_id}" />
    	           <button type="submit" class="tw-act-btn-confirm">提交</button>
    	           <button type="button" onclick="goback()" class="tw-act-btn-cancel">返回</button>
    	       </div>
    	    </form>
        </div>
    </div>
</block>

<block name="script">
	
	<script type="text/javascript" charset="utf-8">
        var layout_num = 0;
        var resource_num = 0;
        $(function(){
            ajaxUpload('#btnUpload', $("#img"), 'VRModel', '');
            ajaxUpload('#btnUpload1', $("#img1"), 'VRModel', '1');
            //颜色图片删除
            $('body').on('click', '.del-img-btn', function(){
                var imgId = $(this).attr('del-img-id');
                delFile($('#img'+imgId).val(), imgId, '', false);
            })
        });
	</script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/vrmodel.js"></script>
</block>