<extend name="Public/base"/>
<block name="body">

    <div class="tw-layout">
        <div class="tw-list-hd">
            导入数据:
        </div>
        <div class="tw-list-wrap tw-edit-wrap">
            <form action="__SELF__" enctype="multipart/form-data" method="POST" class="form-horizontal">
                <table>
                    <tr height="50px">
                        <th>选择Excel表:</th>
                        <td colspan='3'>
                            <input class="btn btn-default btn-layout_pathxs" type="file" name="importtable"/>
                        </td>
                    </tr>
                    <div class="tw-tool-bar-bot">
                        <button type="submit" class="tw-act-btn-confirm">导入</button>
                        <button type="button" onclick="goback()" class="tw-act-btn-cancel">返回</button>
                    </div>
                </table>
            </form>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" charset="utf-8">

    </script>
</block>
