<extend name="Public/base"/>
<block name="body">
	<div class="tw-layout">
		<div class="tw-list-hd">
			{:isset($info['id'])?'编辑':'新增'}商品属性
		</div>
		<div class="tw-list-wrap tw-edit-wrap">
		    <form action="__SELF__" enctype="application/x-www-form-urlencoded" method="POST" class="form-horizontal ajaxForm">
		        <div class="form-item">
		            <label for="auth-title" class="item-label">属性名称<span class="check-tips"><b>*</b>（请输入属性名称）</span></label>
		            <div class="controls">
		                <input type="text" name="attr_name" class="text input-large" placeholder="请输入属性名称" value="{$info.attr_name}"/>
		            </div>
		        </div>
		        <div class="form-item">
		            <label for="auth-title" class="item-label">属性类型</label>
		            <div class="controls">
		                <label class="radio"><input type="radio" name="attr_type" value="0" <if condition="$info.attr_type eq 0">checked="checked"</if>/>文本</label>
		                <label class="radio"><input type="radio" name="attr_type" value="1" <if condition="$info.attr_type eq 1">checked="checked"</if>/>数字</label>
		                <label class="radio"><input type="radio" name="attr_type" value="2" <if condition="$info.attr_type eq 2">checked="checked"</if>/>单选</label>
		                <label class="radio"><input type="radio" name="attr_type" value="3" <if condition="$info.attr_type eq 3">checked="checked"</if>/>多选</label>
		            </div>
		        </div>
		        <div class="form-item">
		            <label for="auth-title" class="item-label">属性值<span class="check-tips">（当属性类型为枚举时，需要配置该项）</span></label>
		            <div class="controls">
		                 <textarea type="text" rows="3" cols="57" id="attr-value" name="attr_value" placeholder="当属性值为多个时，请用英文逗号“,”隔开" <notin name="info[attr_type]" value="2,3">disabled="false"</notin>>{$info.attr_value}</textarea>
		            </div>
		        </div>
			    <div class="form-item">
		            <label for="auth-title" class="item-label">属性排序<span class="check-tips"><b>*</b>（请输入属性排序）</span></label>
		            <div class="controls">
		                <input type="text" name="attr_sort" class="text input-large" value="{$info[attr_sort]?$info[attr_sort]:'50'}"/>
		            </div>
		        </div>
	            <div class="form-item">
		            <label for="auth-title" class="item-label">属性状态</label>
		            <div class="controls">
		                <input type="radio" name="attr_status" value="0" <if condition="$info.attr_status eq 0">checked="checked"</if>/>启用
		                <input type="radio" name="attr_status" value="1" <if condition="$info.attr_status eq 1">checked="checked"</if>/>禁用
		            </div>
		        </div>
		        <div class="tw-tool-bar-bot">
		           <input type="hidden" name="id" value="{$info.id}" />
		           <input type="hidden" name="cate_id" value="{$cate_id}" />
		           <input type="hidden" name="attr_mode" value="<if condition='$cate_id neq 0'>1<else/>0</if>" />
		           <button type="submit" class="tw-act-btn-confirm">提交</button>
		           <button type="button" onclick="goback()" class="tw-act-btn-cancel">返回</button>
		       </div>
		    </form>
	    </div>
</div>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
    $(function(){
    	$("input[name='attr_type']").click(function(){
    		if($(this).val() == 2 || $(this).val() == 3){
    			$("#attr-value").attr("disabled", false);                       
    		} else {
    			$("#attr-value").attr("disabled", true);
    			$("#attr-value").val(null);
    		}
    	});
    });
</script>
</block>