<extend name="Public/base"/>
<block name="style">
    <style>

    </style>
</block>
<block name="body">
    <div class="tw-layout">

        <div class="tw-list-wrap tw-edit-wrap">
            
                <div>

                    <volist name='info' id = "vo">
                        <div>
                        <div class="tw-list-hd">
                             {$vo.name} 
                        </div>
                        <div>{$vo.remark}</div>
                        <div>
                            <img src="{$vo.goods_img}">
                        </div>
                        <volist name = "vo['photo_path']" id = "vv">

                            <!-- 判断是视频还是图片 -->
                            <if condition="$vv.imgType eq 'mp4'">
                                <div style="width: 100%">
                                    <video width="100%" controls="controls">
                                        <source src="{$vv.photo_path}" type="video/mp4" />
                                        您的浏览器不支持 video 标签。
                                    </video>
                                    <notempty name="vv.content">
                                        <p>{$vv.content}
                                        </p>
                                    </notempty>
                                </div>
                            <else />
                            
                                <switch name="type">
                                    <case value="5|2|0">
                                        <div style="width: 100%; float: left;">
                                            <img width="100%" src="{$vv.photo_path}">
                                            <notempty name="vv.content">
                                                <p>{$vv.content}</p>
                                            </notempty>
                                        </div>
                                    </case>
                                    <case value="4">
                                        <div style="width: 30%; float: left; border: 1px solid #FF9B17; margin-left:4px;">
                                            <img style="display: block;" src="{$vv.photo_path}">
                                                <span>{$vv.content}</span>
                                        </div> 
                                    </case>

                                </switch>
                                
                            </if>
                        </volist>
                        <div style="clear: both;"></div>
                        </div>
                    </volist>

                </div>

        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload.js"></script>
    <script type="text/javascript" charset="utf-8" src="__COMMON__/js/imgupload.js"></script>
    <script>

    </script>
</block>