<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/more_button.css">
</block>

<block name="body">
    <div class="tw-layout">
        <div class="tw-list-hd">
            <if condition="$type eq 1">管理员列表
            <elseif condition="$type eq 0"/>用户列表
            </if>
        </div>
        <notempty name="prompt_tips">
            <div class="tw_list_tips">
                <div class="tips-name">提示语：</div>
                <div class="tips-content">{$prompt_tips}</div>
            </div>
        </notempty>
            <div class="tw-list-top">
                <div class="tw-tool-bar">
                    <a class="tw-tool-btn-add" href="{:U('Member/edit?type='.$type)}" >
                        <i class="tw-icon-plus-circle"></i> 添加
                    </a>

                    <a class="tw-tool-btn-del" onclick="javascript:recycle('chkbId', '确认删除?!删除后该用户将放入回收站!')">
                        <i class="tw-icon-minus-circle"></i> 批量删除
                    </a>
                </div>
                <form action="__ACTION__/type/{$type}" method="post" id='frmSearch'>
                    <div class="tw-search-bar">
                        <div class="search-form fr cf">
                            <div class="sleft">
                                <input type='hidden' name="type" value="{$type}">
                                <input type="text" name="keywords" class="search-input" value="{:I('keywords', '')}" placeholder="请输入登录名">
                                <a type="submit" class="sch-btn" onclick="$('#frmSearch').submit();"><i class="btn-search"></i></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tw-list-wrap">
            <table class="tw-table tw-table-list tw-table-fixed">
                <thead>
                    <tr>
                        <th width="10" class="row-selected"><input class="checkbox check-all" type="checkbox"></th>
                        <th width="50">序号</th>
                        <th width="15%">登录名</th>
                        <volist name='getMemberAttributeData' id='vo'>
                            <th width="15%">{$vo.attr_name}</th>
                        </volist>
                        <th width="50">状态</th>
                        <th class="show-operate">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <notempty name="list" >
                        <volist name="list" id="vo" key="k">
                            <tr>
                                <td><input class="ids row-selected" type="checkbox" name="chkbId" value="{$vo.id}"></td>
                                <td>{$k|page_code}</td>
                                <td>{$vo.user_name}</td>
                                <td>{$vo.0} </td>
                                <td>{$vo.1} </td>
                                <td>{$vo.2} </td>
                                <td>{$vo['disabled'] | show_status} </td>
                                <td>
                                    <div class="tw-dropdown-toggle" style="position:relative;display: inline; ">
                                        <button class="tw-tool-btn-stop dropdown-button"> <i class="tw-icon-cogs"></i> 授权<span class="tw-icon-caret-down"></span></button>
                                        <ul class="more-dropdown-menu">
                                            <li> <a class="more-text-color" href="{:U('Member/auth?id='.$vo['id'])}"> 用户授权</a></li>
                                            <li><a class="more-text-color" href="{:U('Member/dataAuth?id='.$vo['id'])}"> 数据授权</a></li>
                                            <if condition="$type eq 0">
                                                <li><a class="more-text-color" href="{:U('HomeLogModularAccess/adminConfig?member_id='.$vo['id'])}">日志授权</a></li>
                                            </if>
                                        </ul>
                                    </div>
                                    <a class="tw-tool-btn-view" href="{:U('Member/edit?id='.$vo['id'])}"> <i class="tw-icon-desktop"></i> 修改</a>
                                    <a class="tw-tool-btn-del" onclick="javascript:recycle({$vo['id']}, '确认删除?! 删除后该用户将放入回收站!')"><i class="tw-icon-minus-circle"></i>删除</a>
                                </td>
                            </tr>
                        </volist>
                    <else/>
                        <td colspan="8" class="text-center"> aOh! 暂时还没有内容! </td>
                    </notempty>
                </tbody>
            </table>
            <div class="page">{$page['page']}</div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $('.dropdown-button').click(function(){
                $(".more-dropdown-menu").hide();
                $(this).siblings('.more-dropdown-menu').show();
        });
        
        // 点击空白处弹窗消失
        $(function(){
            $("body").on("click",function(e){
                var target  = $(e.target);
                if(target.closest(".tw-dropdown-toggle").length == 0){
                    $(".more-dropdown-menu").hide();
                }
            });
            $(document).on("click",function(e){
                var target  = $(e.target);
                if(target.closest(".tw-dropdown-toggle").length == 0){
                    $(".more-dropdown-menu").hide();
                }
            });
        });
   		
    </script>
</block>
