/*
$Id: main.css 13991 2008-01-17 06:17:23Z maruitao $
*/

.dis {
	display: block;
}
.inline {
	display: inline;
}
.none {
	display: none;
}
body {
	background: #ffffff;
	padding: 10px;
}
/*升级起始页 2015-3-31*/
.list-div .favorable_rate{
	width:100%;
	height:32px;
	line-height:32px;
	background:#FF9966;
	color:#ffffff;
	font-size:14px;	
	font-family: "微软雅黑";
}
.list-div .favorable_rate span{
	float:left;	
}
.list-div .favorable_rate .rate1{
	margin-left:10px;
}
.list-div .favorable_rate .rate2{
	margin-left:55px;
}

.list-div .favorable_rate .rate3{
	margin-left:10px;
}

.list-div .favorable_rate .rate4{
	margin-left:10px;
}
.list-div .important{
	border:1px #DCDCDC solid;
	background:#F7F7F7;
	height:90px;	
	padding:0px;
	margin:0px
}
.list-div .important .import{
	width:100%;
	height:100%;
	float:left;
	padding:0px;
	margin:0px	;
	font-family: "微软雅黑";
}
.list-div .important .import li{
	list-style:none;
	width:20%	;
	height:50px;
	float:left;
	padding:20px 0px;
}
.list-div .important .import li .module{
	width:100%;
	height:100%;
	border-left: 1px solid #ccc;
}
.list-div .important .import li.import_1 .module{
	border:none	
}
.list-div .important .import li i{
	background:url(../images/import.png) no-repeat left top;
	height:50px;
	width:50px;
	display:block;
	float:left;
	margin-left:30px;
	*margin-left:20px;
	margin-right: 10px;		
}
.list-div .important .import li.import_1 i{
	background-position:0px 0px	
}
.list-div .important .import li.import_2 i{
	background-position:-50px 0px	
}
.list-div .important .import li.import_3 i{
	background-position:-95px 0px	
}
.list-div .important .import li.import_4 i{
	background-position:-148px 0px	
}
.list-div .important .import li.import_5 i{
	background-position:-200px 0px	
}
.list-div .important .import li.import_6 i{
	background-position:-250px 0px	
}
.list-div .important .import li .detail{
	height:50px;
	width:55%;
	float:left;
}
.list-div .important .import li .detail strong{
	display:block;
	font-size:16px;
	color:#535554;
	font-family: "微软雅黑";
}
.list-div .important .import li .detail span{
	display:block;
	font-size:15px;
	color:#535554;
	font-family: "微软雅黑";
}
.list-div .console-detaile {
	height:380px;
	margin: 0px -10px 0px -20px;
}
.list-div .console-detaile .item {
	width: 31.25%;
	float: left;
	margin-left:1.8%;
}
.list-div .console-detaile .item-hd {
	height: 110px;
	position: relative;
}
.list-div .console-detaile .item-hd span {
	position: absolute;
	top: 50px;
	*top: 50px;
	left: 50%;
	margin-left: -50px;
	color: #fff;
	text-align: center;
	width: 100px;
	height:70px;
	*height:100px;
	background:url(../images/item-hd1.png) no-repeat;
	font-size: 18px;
	padding-top: 30px;
	font-family: "微软雅黑";
}
.list-div .console-detaile .item-hd span.bg2 {
	background:url(../images/item-hd2.png) no-repeat;
}
.list-div .console-detaile .item-hd span.bg3 {
	background:url(../images/item-hd3.png) no-repeat;
}
.list-div .console-detaile .item-hd span em {
	display: block;
	font-style: normal;
	font-size: 14px;
	font-family: "微软雅黑";
}
.list-div .shop-item .item-hd{
	background-color: #00cccc;
}
.list-div .goods-item .item-hd {
	background-color: #3399ff;
}
.list-div .order-item .item-hd {
	background-color: #ff9966;
}
.list-div .console-detaile .item-bd {
	border: 1px solid #E4E4E4;
	border-top: 0;
	width:99.5%;
	display:inline-block
}
.list-div .console-detaile .item-bd1{
	background:#EDF6FF;
}
.list-div .console-detaile .item-bd2{
	background:#E5FBF9;
}
.list-div .console-detaile .item-bd3{
	background:#FFF0EB;
}
.list-div .console-detaile ul {
	padding: 0;
	margin: 0;
}
.list-div .console-detaile .item-bd ul li {
	height: 70px;
	*height:100px;
	color: #666;
	text-align: center;
	padding-top: 20px;
}
.list-div .console-detaile .item-bd ul li strong {
	font-size: 14px;
	display: block;
	font-weight: 500;
	font-family: "微软雅黑";
	margin-bottom:10px
}
.list-div .console-detaile .item-bd ul li strong a{
	font-size: 14px;
	display: block;
	font-weight: 500;
	font-family: "微软雅黑";
	text-decoration:none
}
.list-div .console-detaile .item-bd1 ul li,.list-div .console-detaile .item-bd1 ul li strong a {
	color: #00CCCC;
}
.list-div .console-detaile .item-bd2 ul li,.list-div .console-detaile .item-bd2 ul li strong a {
	color: #3399FF;
}
.list-div .console-detaile .item-bd3 ul li,.list-div .console-detaile .item-bd3 ul li strong a {
	color: #FF9966;
}
.list-div .console-detaile .item-bd ul li span{
	font-size: 14px;
	font-weight: 500;
	font-family: "微软雅黑";
}
.list-div .console-detaile .item-bd ul li,.list-div .console-detaile .item-bt li {
	width: 49.8%;
	float: left;
	list-style-type:none;
}
.list-div .console-detaile .item-bd ul li{
	border-right: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
}
.list-div .console-detaile .item-bd ul li.li_even {
	border-right:none;
}
.list-div .console-detaile .item-bd ul li:first-child {
	border-top: 0;
}
.list-div .console-detaile .order-item .item-bd span.badge {
	background-color: #fff;
	border: 1px solid #ff9966;
	color: #ff9966;
	font-weight: normal;
	margin-top: 2px;
}
.list-div .console-detaile .goods-item .item-bd ul span.badge {
	background-color: #fff;
	color: #3399ff;
	border: 1px solid #3399ff;
	font-weight: normal;
	padding: 2px 6px;
	margin-top: 3px;
}
.list-div .console-detaile .item-bt {
	border: 1px solid #e4e4e4;
	border-top-width: 1px;
	padding: 7px;
}
.list-div .console-detaile .item-bt ul {
	background: #fcf8e3
}
.list-div .console-detaile .item-bt li {
	height: 30px;
	color: #666;
	line-height: 30px;
	padding-left: 10px;
	border: 1px solid #fbeed5;
}
.list-div .console-detaile .item-bt li:nth-child(2n+1) {
	border-right: 0;
}
.list-div .console-detaile .item-bt li:first-child,.list-div .console-detaile .item-bt li:nth-of-type(2) {
	border-bottom: 0;
}
.list-div .order_count{
	border: 1px solid #DCDCDC;
	padding:10px 50px 20px;
}
.list-div .order_count_spe{
	border:none
}
.list-div .order_count p{
	width:100%;
	margin-bottom:20px;
	text-align:center;	
}
.list-div .order_count p .tab_front{
	font-size:20px;
	color:#F96;
	height:40px;
	line-height:40px;
	font-family: "微软雅黑";
}